body{
	background:#fff;	
	margin:0;
	padding:0;
}

* {
	margin:0;
	padding:0;	
}

html, body{
	width:100%;
	height:100%;
}

header, nav, section, article, aside, figure, footer{
	display:block;
	margin:0;
	padding:0;
}

.limpiar{
	clear:both;
}

@font-face {
  font-family: 'VNF-Stag Sans-Book';
  src: url('../fonts/VNF-Stag Sans-Book.eot');
  src: url('../fonts/VNF-Stag Sans-Book.woff2') format('woff2'),
       url('../fonts/VNF-Stag Sans-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StagSans-Semibold';
  src: url('../fonts/StagSans-Semibold.eot');
  src: url('../fonts/StagSans-Semibold.woff2') format('woff2'),
       url('../fonts/StagSans-Semibold.woff') format('woff'),
       url('../fonts/StagSans-Semibold.ttf') format('truetype'),
       url('../fonts/StagSans-Semibold.svg#StagSans-Semibold') format('svg'),
       url('../fonts/StagSans-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StagSans-Medium';
  src: url('../fonts/StagSans-Medium.eot');
  src: url('../fonts/StagSans-Medium.woff2') format('woff2'),
       url('../fonts/StagSans-Medium.woff') format('woff'),
       url('../fonts/StagSans-Medium.ttf') format('truetype'),
       url('../fonts/StagSans-Medium.svg#StagSans-Medium') format('svg'),
       url('../fonts/StagSans-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*-------------------------------------------------------------------------------------------------------------*/

#contenedor{
	display: block;
	height: auto;
	width: 100%;
}

#cabecera{
	display: block;
	height: auto;
	margin: 0 auto;
    padding-bottom: 0;
	width: 100%;
}

#cabecera_contenido{
	display: block;
	height: auto;
	margin: 0 auto;
	width: 1000px;
}

#cabecera_contenido figure.logo{
	float: left;
	height: auto;
	margin: 0;
	width: 230px;
}

#cabecera_contenido span.telefonos{
	float: right;
	height: auto;
    margin-top: 2%;
	width: 516px;
}

#cabecera_contenido span.telefonos p{
	color: #666;
	font-family: "VNF-Stag Sans-Book";
	font-size: 25px;
	margin: 1% 0;
	text-align: right;
}

#cabecera_contenido span.telefonos p.celular{
	color: #5586b7;
}

#cuerpo_banner{
	background: url("../imagenes/portada-banner.jpg") no-repeat center top;
	background-size: 100% auto;
	display: block;
	height: 372px;
	position: relative;
	width: 100%;
}

#cuerpo_banner article.banner{
	display: none;
}

#cuerpo_banner article.pedir_estimado{
	background: #166f9d;
	border: #fff 1px solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	position: absolute;
	top: 4%;
	right: 10%;
	height: 343px;
	width: 439px;
}

#cuerpo_banner article.pedir_estimado section{
	border-bottom: #fff 1px solid;
	display: block;
	height: auto;
	margin: 0 auto;
	margin-top: 31px;
	padding-bottom: 30px;
	width: 388px;
}

#cuerpo_banner article.pedir_estimado section p{
	color: #fff;	
	font-family: 'StagSans-Medium';
	font-size: 37px;
	margin: 1% 0;
	text-align: center;
	text-transform: uppercase;
}

#cuerpo_banner article.pedir_estimado section p span.ocultar{
	display: none;
}

#cuerpo_banner article.pedir_estimado section p span.mostrar{
	display: none;
}

#cuerpo_banner article.pedir_estimado section.promocion{
    border: none;
    display: block;
    height: auto;
    margin: 0 auto;
    padding-bottom: 2%;
    width: 388px;
}

#cuerpo_banner article.pedir_estimado section.promocion p{
	color: #fff;	
	font-family: 'StagSans-Semibold';
	font-size: 40px;
	margin: 4% 0;
	text-align: center;
	text-transform: uppercase;
}

#cuerpo_banner article.pedir_estimado section.promocion p a.boton_solicitar{
    background: #e62c46;
    border: #fff 1px solid;
    display: block;
    line-height: 19px;
    font-family: 'StagSans-Medium';
    font-size: 25px;
    color: #fff;
    width: 400px;
    margin-top: 8px;
    padding: 4% 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/*----------------------------------------------------------------------------------------------------------------*/

#cuerpo_llamanos{
	background: rgba(245,245,245,1);
	background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 51%, rgba(245,245,245,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
	background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 51%, rgba(245,245,245,1) 100%);
	background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 51%, rgba(245,245,245,1) 100%);
	background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 51%, rgba(245,245,245,1) 100%);
	background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 51%, rgba(245,245,245,1) 100%);		
	height: auto;
	margin: 0 auto;	
	width: 100%;
}

#cuerpo_llamanos article#beneficios{
	display: block;
	margin: 0 auto;
	height: auto;
	padding-bottom: 3%;
	padding-top: 4%;	
	width: 1000px;
}

#cuerpo_llamanos article#beneficios section.beneficios_izq{
	float: left;
	height: auto;
	width: 450px;
}

#cuerpo_llamanos article#beneficios section.beneficios_izq p{
	color: #166f9d;		
	font-family: 'StagSans-Semibold';
	font-size: 25px;
	text-transform: uppercase;
}

#cuerpo_llamanos article#beneficios section.beneficios_izq p span{
	color: #333;
	font-family: "VNF-Stag Sans-Book";
	font-size: 21px;		
}

#cuerpo_llamanos article#beneficios section.beneficios_izq ul{
	margin-top: 8%;
	padding: 0;
}

#cuerpo_llamanos article#beneficios section.beneficios_izq li{
	background: url("../imagenes/icono-estrella.png") no-repeat left -3px;
	color: #333;
	list-style: none;
	font-family: 'StagSans-Semibold';
	font-weight: normal;
	font-size: 24px;
    padding: 0 0 6% 8%;	
	text-transform: uppercase;
}

#cuerpo_llamanos article#beneficios section.beneficios_izq a.boton_pedir{
	background: #e62c46;
	border: none;
	display: block;
	line-height: 19px;
	font-family: 'StagSans-Medium';
	font-size: 25px;
	color: #fff;
	width: 400px;
	margin-top: 8px;
	padding: 4% 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

#cuerpo_llamanos article#beneficios section.beneficios_der{
	float: right;
	height: auto;
	width: 530px;
}

/*----------------------------------------------------------------------------------------------------------------*/

#cuerpo{
	height: auto;
	width: 100%;
}

#cuerpo article#financiamiento{
	background: #fff;
	height: auto;
	margin: 0 auto;	
    padding-bottom: 4%;	
	width: 1000px;
}

#cuerpo article#financiamiento h1{
	color: #333333;
	font-family: 'StagSans-Semibold';
	font-size: 25px;
    margin-bottom: 4%;	
	text-align: center;	
	text-transform: uppercase;
}

#cuerpo article#financiamiento section.caja{
	border: #ccc 1px solid;
	float: left;
	height: 326px;
    margin-right: 3%;	
	width: 310px;
}

#cuerpo article#financiamiento section.caja img{
	display: block;
	height: auto;
	margin: 0 auto;
    margin-top: 6%;	
}

#cuerpo article#financiamiento section.caja h2{
	color: #166F9D;
	font-family: 'StagSans-Semibold';
	font-size: 21px;
    margin: 8% 0 6%;	
	text-align: center;	
	text-transform: uppercase;
}

#cuerpo article#financiamiento section.caja p{
	color: #333;
	font-family: "Myriad Pro";
	font-size: 16px;
	margin: 1% 0;
	padding: 0 5% 0 4%;	
	text-align: center;
}

#cuerpo article#financiamiento section.caja p span{
	color: #666666;
	font-family: "Myriad Pro";
}

#cuerpo article#financiamiento section.caja.no_margin{
    margin: 0;	
}

/*------------------------------------------------------------------------------------------------------------*/

#cuerpo_estimado{
	background: #166F9D;	
	height: auto;
	width: 100%;
}

#cuerpo_estimado article#estimado{
	height: auto;
	margin: 0 auto;
	padding-bottom: 2%;	
	padding-top: 2%;	
	width: 1000px;
}

#cuerpo_estimado article#estimado section.bloque_izq{
	float: left;
	height: auto;
	width: 484px;
}

#cuerpo_estimado article#estimado section.bloque_izq h1{
	color: #fff;
	font-family: "VNF-Stag Sans-Book";
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}

#cuerpo_estimado article#estimado section.bloque_izq p{
	color: #fff;
	font-family: "VNF-Stag Sans-Book";
	font-size: 21px;
}

#cuerpo_estimado article#estimado section.bloque_izq article.llamanos{
	display: block;
	height: auto;
    margin-top: 12%;	
}

#cuerpo_estimado article#estimado section.bloque_izq article.llamanos p{
	color: #fff;
	font-family: "VNF-Stag Sans-Book";
	font-size: 21px;
}

#cuerpo_estimado article#estimado section.bloque_izq article.llamanos p span.celular{
	color: #fff;
	font-family: "VNF-Stag Sans-Book";
	font-weight: bold;
	font-size: 40px;
}

#cuerpo_estimado article#estimado section.bloque_izq article.recuerda{
	display: block;
	height: auto;
    margin-top: 12%;	
}

#cuerpo_estimado article#estimado section.bloque_izq article.recuerda p{
	color: #fff;
	font-family: "VNF-Stag Sans-Book";
	font-weight: normal;
	font-size: 21px;
}

#cuerpo_estimado article#estimado section.bloque_izq ul{
	margin-top: 8%;
	padding: 0;
}

#cuerpo_estimado article#estimado section.bloque_izq li{
	background: url("../imagenes/icono-estrella.png") no-repeat left -3px;
	color: #fff;
	list-style: none;
	font-family: 'StagSans-Semibold';
	font-weight: normal;
	font-size: 24px;
    padding: 0 0 6% 8%;	
	text-transform: uppercase;
}

#cuerpo_estimado article#estimado section.bloque_der{
	float: left;
	height: auto;
	width: 516px;
}

#cuerpo_estimado article#estimado section.bloque_der #contactenos{
	display: block;
	height: auto;
    margin: 0 auto;
    width: 400px;
}

#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto {
	float: left;
	height: auto;
	margin-top: 3%;
	width: 404px;
}

#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto label{
    display: block;
    margin-bottom: 8%;
}

#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto label span{
    color: #fff;
    display: block;    
	font-family: "VNF-Stag Sans-Book";
	font-weight: normal;
	font-size: 21px;
    margin-right: 12px; 
    line-height: 24px;
    padding:5px 0;
    text-align: left; 
    text-transform: uppercase;
}

#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto label input.campos{
	color: #333;
    font-family: "VNF-Stag Sans-Book";
    font-size: 15px;	
	display: block;  
	height: 48px;
	margin: 0 0 8px 0;
    padding: 0 0 0 2%;
    width: 388px;
}

#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto label textarea.comentario{
    color: #333;
    font-family: "VNF-Stag Sans-Book";
    font-size: 15px;
    display: block;
    height: 148px;
    padding: 5px 0 0 2%;
    text-align: left;
    width: 390px; 
}

#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto input.boton {
	background: #e62c46;
	border: #fff 1px solid;
	display: block;
	line-height: 19px;
	font-family: 'StagSans-Medium';
	font-size: 25px;
	color: #fff;
	width: 400px;
	margin: 0 auto;
	margin-top: 8px;
	padding: 4% 0;
	text-decoration: none;
	text-transform: uppercase;    
}

#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto #estado span.mensaje {
	color: #fff;
	display: block;
	font-family: "Myriad Pro";
	font-size: 18px;
    margin: 4% 0;
	text-align: center;
}

.error input, input.error, .error textarea, textarea.error{
	border: 1px solid red;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	-ms-border-radius: 1px;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-moz-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*------------------------------------------------------------------------------------------------------------*/

#cuerpo_modelos{
	background: #fff;	
	height: auto;
	width: 100%;
}

#cuerpo_modelos article#carousel_modelos{
	height: auto;
	margin: 0 auto;
    padding-bottom: 3%;
	padding-top: 2%;
	width: 1000px;
}

#cuerpo_modelos article#carousel_modelos h1{
	color: #333;
	font-family: 'StagSans-Semibold';
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}

#cuerpo_modelos article#carousel_modelos section.carousel {
    position: relative;
	margin-top: 4%;    
}

#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation {
    top: 45%;
    position: absolute;
    width: 100%;
}

#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation .btn {
    width: 80px;
    height: 80px;
    display: block;
    text-indent: -9999px;
    position: absolute;
    cursor: pointer;
}

#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation .btn.prev {
    background: url("../imagenes/btn_carousel.png") no-repeat;
    width: 80px;
    height: 80px;
    left: -14%;
    margin-left: 20px;
}

#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation .btn.next {
    background: url("../imagenes/btn_carousel.png") no-repeat;
    background-position: center right;
    width: 80px;
    height: 80px;
    right: -14%;
    margin-right: 20px;
}

#pie{
	background: rgba(11,108,160,1);
	background: -moz-linear-gradient(top, rgba(11,108,160,1) 0%, rgba(11,108,160,1) 50%, rgba(3,96,142,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,108,160,1)), color-stop(50%, rgba(11,108,160,1)), color-stop(100%, rgba(3,96,142,1)));
	background: -webkit-linear-gradient(top, rgba(11,108,160,1) 0%, rgba(11,108,160,1) 50%, rgba(3,96,142,1) 100%);
	background: -o-linear-gradient(top, rgba(11,108,160,1) 0%, rgba(11,108,160,1) 50%, rgba(3,96,142,1) 100%);
	background: -ms-linear-gradient(top, rgba(11,108,160,1) 0%, rgba(11,108,160,1) 50%, rgba(3,96,142,1) 100%);
	background: linear-gradient(to bottom, rgba(11,108,160,1) 0%, rgba(11,108,160,1) 50%, rgba(3,96,142,1) 100%);
	height: auto;
	width: 100%;	
}

#pie article#contenido_pie{
	height: auto;
	margin: 0 auto;
    padding-bottom: 3%;
	padding-top: 2%;
	width: 1000px;
}

#pie article#contenido_pie section.pie_izquierda{
	float: left;
	height: auto;
    margin-right: 30px;
	width: 365px;
}

#pie article#contenido_pie section.pie_izquierda p{
	color: #fff;
    font-family: "VNF-Stag Sans-Book";
    font-size: 16px;
    margin: 2% 0;    
}

#pie article#contenido_pie section.pie_centro{
	float: left;
	height: auto;
    margin-right: 53px;	
	width: 180px;
}

#pie article#contenido_pie section.pie_derecha{
	float: right;
	height: auto;
	width: 370px;
}

#pie article#contenido_pie section.pie_derecha p{
	color: #fff;
    font-family: "VNF-Stag Sans-Book";
    font-size: 16px;
    margin: 2% 0;    
}

#pie article#contenido_pie section.pie_derecha.no_margin {
    margin: 0;
}

/*----------------------------------------------------------------------------------------------------------------*/

/******************************************/
/***    DISEÑO PARA DESKTOP           ****/
/******************************************/
@media only screen and (max-width:1280px){
	
	
}


/******************************************/
/***    DISEÑO PARA TABLETAS           ****/
/******************************************/

	@media only screen and (max-width:1024px){

		#cabecera_contenido {
			width: 100%;
		}

		#cabecera_contenido span.telefonos {
			margin-right: 5px;
		}

		#cuerpo_banner {
			background: none;
			display: block;
			height: auto;
			position: static;
			width: 100%;
		}

		#cuerpo_banner article.banner{
			border-bottom: #fff 1px solid;			
			display: block;
		}

		#cuerpo_banner article.banner img{
			display: block;
			height: auto;
			width: 100%;
		}

		#cuerpo_banner article.pedir_estimado {
			background: #166f9d;
			border: none;
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			-ms-border-radius: 0;
			position: static;
			margin: 0 auto;
			padding-top: 3%;			
			height: 343px;
			width: 100%;
		}

		#cuerpo_banner article.pedir_estimado section {
			border-bottom: #fff 1px solid;
			display: block;
			height: auto;
			margin: 0 auto;
			margin-top: 0;
			padding-bottom: 30px;
			width: 388px;
		}		

		#cuerpo_llamanos article#beneficios {
			width: 100%;
		}

		#cuerpo_estimado article#estimado {
			padding-bottom: 3%;
			width: 100%;
		}

		#cuerpo_estimado article#estimado section.bloque_izq {
			float: left;
			height: auto;
			margin-left: 4%;
			width: 484px;
		}

		#cuerpo_estimado article#estimado section.bloque_der {
			float: right;
			height: auto;
			width: 464px;
		}

		#cuerpo article#financiamiento {
			width: 100%;
		}

		#cuerpo_modelos article#carousel_modelos {
			width: 100%;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_izq {
			display: block;
			float: none;
			height: auto;
			margin: 0 auto;
			margin-bottom: 2%;			
			width: 450px;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_der {
			display: block;
			float: none;
			height: auto;
			margin: 0 auto;
			width: 530px;
		}

		#pie article#contenido_pie {
			width: 100%;
		}

		#pie article#contenido_pie section.pie_izquierda {
			margin-left: 2%;
			margin-right: 30px;
		}

		#pie article#contenido_pie section.pie_centro {
			margin-left: 25px;
			margin-right: 26px;
		}

		#pie article#contenido_pie section.pie_derecha {
			float: right;
			height: auto;
			width: 350px;
		}

	}


	@media only screen and (max-width:800px){

		#cuerpo article#financiamiento section.caja {
			border: #ccc 1px solid;
			display: block;
			float: none;
			height: 326px;
			margin: 0 auto;
			margin-bottom: 3%;			
			width: 310px;
		}

		#cuerpo article#financiamiento section.caja.no_margin {
			margin: 0 auto;
		}

		#cuerpo_estimado article#estimado section.bloque_izq {
			display: block;
			float: none;
			height: auto;
			margin: 0 auto;
			width: 484px;
		}

		#cuerpo_estimado article#estimado section.bloque_der {
			display: block;
			float: none;
			height: auto;
			margin: 0 auto;
			width: 516px;
		}

		#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto {
			display: block;
			float: none;
			height: auto;
			margin-top: 3%;
			width: 100%;
		}

		#pie article#contenido_pie section.pie_izquierda {
		    float: none;
		    height: auto;
		    margin: 0 auto;
			margin-bottom: 2%;		    
		}

		#pie article#contenido_pie section.pie_centro {
			float: none;
			height: auto;
			margin: 0 auto;
			margin-bottom: 2%;			
		}

		#pie article#contenido_pie section.pie_derecha {
			float: none;
			height: auto;
			margin: 0 auto;			
			width: 370px;
		}

		#pie article#contenido_pie section.pie_derecha.no_margin {
		    margin: 0 auto;
		}

		#pie article#contenido_pie section.pie_derecha p {
			text-align: center;
		}

	}

	@media only screen and (max-width: 603px){

		#cabecera_contenido figure.logo {
			display: block;
			float: none;
			height: auto;
			margin: 0 auto;
			width: 230px;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_der {
			display: block;
			height: auto;
			margin: 0 auto;
			width: 100%;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_der img{
			display: block;
			height: auto;
			margin: 0 auto;
			width: 100%;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_izq a.boton_pedir {
			margin: 0 auto;
		}

		#cabecera_contenido span.telefonos {
			display: block;
			float: none;
			height: auto;
			margin: 0 auto;
			margin-top: 0;
			width: 100%;
		}

		#cabecera_contenido span.telefonos p {
			text-align: center;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation {
			top: 106%;
			position: absolute;
			width: 100%;
		}

		#cuerpo_modelos article#carousel_modelos {
			padding-bottom: 22%;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation a.btn.prev {
		    left: 32%;
		    margin-left: 0;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation a.btn.next {
			right: 30%;
			margin-right: 0;
		}

	}

	@media only screen and (max-width: 533px){

		#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto label input.campos {
			margin: 0;
			padding: 0;			
			width: 100%;
		}

		#cuerpo_estimado article#estimado section.bloque_der {
			width: 100%;
		}

	}

	@media only screen and (max-width: 480px){

		#cuerpo_banner article.pedir_estimado section {
			padding-bottom: 16px;			
			width: 100%;
		}

		#cuerpo_estimado article#estimado section.bloque_izq {
			width: 100%;
		}

		#cuerpo_estimado article#estimado section.bloque_izq h1 {
			text-align: center;
		}

		#cuerpo_estimado article#estimado section.bloque_izq p {
			text-align: center;
		}

		#cuerpo_banner article.pedir_estimado {
			height: auto;
			width: 100%;
		}

		#cuerpo_banner article.pedir_estimado section p {
			font-size: 26px;
		}

		#cuerpo_banner article.pedir_estimado section.promocion p {
			font-size: 32px;
		}

		#cuerpo_banner article.pedir_estimado section p span.ocultar{
			display: block;
		}

		#cuerpo_banner article.pedir_estimado section p span.mostrar{
			display: none;
		}

		#cuerpo_banner article.pedir_estimado section.promocion p a.boton_solicitar {
			color: #fff;			
			font-size: 21px;
			width: 100%;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_izq a.boton_pedir {
			color: #fff;			
			font-size: 21px;
			width: 92%;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_izq p {
			color: #166f9d;
			padding-left: 3%;
		}

		#cuerpo article#financiamiento section.caja {
			border: #ccc 1px solid;
			display: block;
			float: none;
			height: auto;
			margin: 0 auto;
			margin-bottom: 3%;
			width: 70%;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation a.btn.prev {
			background: url(../imagenes/btn_carousel_responsive.png) no-repeat;
			width: 58px;
			height: 57px;
			left: 36%;
			margin-left: 0;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation a.btn.next {
			background: url(../imagenes/btn_carousel_responsive.png) no-repeat;
			background-position: center right;
			width: 58px;
			height: 57px;
			right: 36%;
			margin-right: 0;
		}

		#pie article#contenido_pie section.pie_izquierda p {
			text-align: center;
		}

	}

	@media only screen and (max-width: 360px){

		#cuerpo_banner article.pedir_estimado section.promocion {
			margin: 0 auto;
			width: 96%;
		}

		#cuerpo_banner article.pedir_estimado section.promocion p a.boton_solicitar {
			width: 100%;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_izq {
			width: 100%;
		}

		#cuerpo_estimado article#estimado section.bloque_der #contactenos {
			display: block;
			height: auto;
			margin: 0 auto;
			width: 94%;
		}

		#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto input.boton {
			color: #fff;
			font-size: 21px;
			margin: 0 auto;
			width: 94%;			
		}

		#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto label input.campos {
			margin: 0;
			padding: 0;
			width: 96%;
		}

		#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto label textarea.comentario {
			width: 96%;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_izq li {
			font-size: 21px;
		}

		#cuerpo_estimado article#estimado section.bloque_izq li {
			font-size: 21px;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation a.btn.prev {
			left: 30%;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation a.btn.next {
			right: 32%;
		}

		#pie article#contenido_pie section.pie_izquierda {
			width: 100%;
		}

		#pie article#contenido_pie section.pie_derecha.no_margin {
			margin: 0 auto;
			width: 100%;
		}

	}

	@media only screen and (max-width: 320px){

		#cuerpo_banner article.pedir_estimado section p {
			font-size: 18px;
		}

		#cuerpo_banner article.pedir_estimado section.promocion p {
			font-size: 24px;
		}

		#cuerpo_banner article.pedir_estimado section.promocion p a.boton_solicitar {
			font-size: 18px;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_izq p {
			font-size: 21px;
		}

		#cuerpo article#financiamiento h1 {
			font-size: 20px;
		}

		#cuerpo article#financiamiento section.caja img {
			width: 94%;
		}

		#cuerpo_llamanos article#beneficios section.beneficios_izq li {
			background: url(../imagenes/icono-estrella.png) no-repeat left 0;
			font-size: 18px;
			padding: 2% 0 6% 10%;
		}

		#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto input.boton {
			color: #fff;
			font-size: 18px;
		}

		#cuerpo_estimado article#estimado section.bloque_izq h1 {
			font-size: 24px;
		}

		#cuerpo_estimado article#estimado section.bloque_izq article.llamanos p span.celular {
			font-size: 30px;
		}

		#cuerpo_estimado article#estimado section.bloque_izq li {
			background: url(../imagenes/icono-estrella.png) no-repeat left 0px;			
			font-size: 18px;
			padding: 2% 0 6% 10%;
		}

		#cuerpo_estimado article#estimado section.bloque_der #contactenos #fcontacto label span {
			font-size: 18px;
		}

		#cuerpo_modelos article#carousel_modelos h1 {
			font-size: 18px;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation {
			top: 102%;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation a.btn.prev {
			left: 30%;
		}

		#cuerpo_modelos article#carousel_modelos section.carousel .customNavigation a.btn.next {
			right: 28%;
		}

		#pie article#contenido_pie section.pie_izquierda p {
			font-size: 14px;
		}

		#pie article#contenido_pie section.pie_derecha p {
			font-size: 14px;
		}

	}

